span{
  width: 100%;
  display: flex;
  margin-left: 30%;
}
h1{
  font-family: Georgia, serif;
}
.main{
  text-align: center;
}
.navbar{
  background-color: black;
  color: white;
  height: 100px;
}
.navbar h1{
  padding-left: 20px;
}
.navbar li a{
  display: flex;
  padding-right: 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.navbar li a:hover{
  color: rgb(204, 198, 198);
  transition: 0.3s ease-in-out;
}
.data{
  margin-top: 40px;
}
table{
  margin-left: 40%;
  margin-right: 40%;
}

table tr{
  height: 80px;
  padding-bottom: 20px;
}

.btnn{
  padding-top: 20px;
}

.form-container{
  border-radius: 20px;
  color: white;
  background-color: black;
  padding: 60px;
  height: 500px;
  text-align: center;
  width: 400px;
  margin-top: 5%;
  margin-left: 40%;
}
.form-container h1{
  padding-bottom: 50px;
  font-size: 50px;
}

.sub{
  padding-top: 10%;
}

.reg{
  font-size: 13px;
  margin-top: 40%;
  display: flex;
}
.reg1{
  font-size: 13px;
  display: flex;
  margin-top: 27%;
}
.reg1 a{
  color: aqua;
  text-decoration: none;
}
.reg1 a:hover{
  color: aquamarine;
  text-decoration: dashed;
}
.reg a{
  color: aqua;
  text-decoration: none;
}
.reg a:hover{
  color: aquamarine;
  text-decoration: dashed;
}